<h2><%= @subscriber_count %> subscribers </h2>

<h2><%= @story_count %> stories </h2>

<h2><%= @letter_count %> letters </h2>

<%= link_to 'Subscribe', subscribe_path, class: 'btn btn-lg btn-success' %>


