<h2><%= @subscriber_count %> subscribers </h2>

<h2><%= @story_count %> stories </h2>

<h2><%= @letter_count %> letters </h2>

<button class="btn btn-lg btn-success">Subscribe</button>

<button class="btn btn-default">Share a story</button>
