<p>
  Welcome back <%= @user.name %>
</p>

<h2><%= @subscriber_count %> subscribers </h2>

<h2><%= @message_count %> messages </h2>

<h2><%= @letter_count %> letters </h2>

<button class="btn btn-large btn-success">Subscribe</button>

<button class="btn">Share a story</button>
