<style>
</style>
<%= form_for(@letter) do |f| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% @letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div id="letter_text" name="letter[text]" 
                            class="editable center-block" 
                            data-placeholder="Share your story of what God's love has done for you" > </div>
      <script>var editor = new MediumEditor('.editable');</script>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
    <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>


  <div class="actions">
  </div>
<% end %>
