  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <% if logged_in? %>
        <h1><%= current_user.first_name %></h1>
      <% else %>
        <h1>My Letter</h1>
      <% end %>
      <hr>
    </div>
  </div>

<%= render 'form' %>

<%= link_to 'Back', letters_path %>
