<h1> Thank you!  </h1>

<p>
  You should get your next email sometime this week.
  </p>

  <p>
  If you'd like to share a story of your own simply email it to 
  <a href="mailto:letters@inbound.chrisortman.com">letters@inbound.chrisortman.com</a>
  </p>

