// Place all the styles related to the letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.editable { 
  font-family: Helvetica, Arial;
  font-size:   24px;
  line-height: 30px;
  min-height:  150px;
}
